layout {

    focus-ring {
        active-color   "#bdc3f9"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bdc3f9"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bdc3f9"
        inactive-color "#464c7a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bdc3f980"
    }
}
